/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.explore-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}
}