/*

table, th, td {
    border: 1px solid black;
    border-spacing: 1000px;
    background-color: rgba(252, 255, 215, 0.863);
  }
  */

/* 
#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8{
    width: 20rem;
    height: auto;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */


/*
* {
    box-sizing: border-box;
  }

  
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
*/


/*   
#img1{
    width: 32%;
    height: 32%;
    margin: 0 66% 0 0 ;
}

#img2{
    width: 32%;
    height: 32%;
    margin: 32% 66% 0 0 ;
}  */


/* Written above are various failed tries, so:
above.ignore();
below.focus();
*/

.text{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(242, 243, 186, 0.5);
  font-size: 1.2rem;
  margin: 25% auto 20% 20%;
  position: relative;
  text-align: justify;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  padding: 37% 9%;
}





*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
  background-color:rgba(184, 224, 221, 0.514);
}

.container {
  padding: 0.5% 1%;
  width: 60%;
  margin: 2rem auto; 
  background-color: rgba(231, 218, 218, 0.76);
  
}

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.2rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid black;
  border-image: linear-gradient(#e675cc,#e85b5b,#eca34a);
  border-image-slice: 1;
  /* display: block;  */
}

.gallery__item--1 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; !important
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--1:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  font-size: 1.23rem;
  opacity: 0.7; 
 }

.gallery__item--2 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--2:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  font-size: 1.25rem;
 }

.gallery__item--3 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--3:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  font-size: 1.23rem;
 }

.gallery__item--4 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--4:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  padding: 0.5% 2%;
  font-size: 1.2rem;
 }

 .gallery__item--5 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--5:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  font-size: 1.23rem;
 }




 .gallery__item--6 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--6:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  font-size: 1.23rem;
  padding: 2% 5%;
 }

 .gallery__item--7 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--7:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  font-size: 1.23rem;
 }

 .gallery__item--8 div{
  text-align: center;
  position:relative;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }

 .gallery__item--8:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  font-size: 1.23rem;
 }





/* 
#insta{
  opacity: 0;
  text-align: center;
  background: black;
  color: white;
  font-family: sans-serif;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7; 
  font-size: 1.25rem;
  margin-top: 25%;
  padding: 2.5% 0; */
  /* -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear; */
/* } */







.gallery__item--1 {
  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;


  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;

/* .gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; */

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9; 
  /* display: inline-block;!important */

/* .gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6; */

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  min-width: 100%; !important
      min-heigth: 100%; !important
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;
  


  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}


.text3{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(188, 171, 197, 0.644);
  font-size: 1.2rem;
  margin: 30% auto auto 20%;
  position: relative;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;  
  padding: 15% 10%;
}

.text2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(220, 238, 211, 0.644);
  font-size: 1.2rem;
  margin: 41% auto auto 20%;
  position: relative;
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;  
  padding: 15% 10%;
}


.gallery__item--7 {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
  min-height: 100%; !important
  /* min-width: 100%; !important */
}


.gallery__item--8 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}
